

.all {
    /* color: white; */
    /* background-color: #0d1117; */
    box-sizing: border-box;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}


.wrapper {
    /* height: 100vh; */
    height: 500px;
}

.problem-page-content {
    display: flex;
    flex-direction: column;
    height: 90vh;
    /* border: 3px solid orange; */
}

.code {
    background-color: #7572725d;
    border:0.25px solid #d0d0d4d1;
    border-radius: 5px;
    color: #eff1f6bf;
    display: inline;
    padding: 0 10px;
}

a {
    color: white;
}
.accordion-sum-wrapper {
    display: flex;
    align-items: center;
}

.diff {
    /* background: #404142; */
    /* background-color: black;; */
    /* border: 1px solid white; */
    color: "white";
    /* border-radius: 10px; */
    /* margin: 1px; */
    height: 25px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 20px;
}

.diff-renderer {
    font-size: 0.8125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.test-panel {
    padding: 1rem;
}

.description {
    padding: 0 1.5rem;
    flex-grow: 1;
}

.down-panels {
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    /* border: 1px solid black; */
    flex-grow: 1;
}

.case-chip {
    margin-right: 0.5rem;
    cursor: pointer;
}

.resizer {
    width: 5px;
}

.editor {
    background-color: #1a1b26;
    /* display: block; */
    /* border: 1px solid orangered; */
    /* resize: vertical; */
    /* overflow: auto; */
    /* display: flex; */
    /* flex-direction: column; */
}

.right-panels {
    width: 500px;
    /* flex-grow: 1; */
    display: flex;
}

.right-main {
    flex-grow: 1;
}

.resizer {
    /* border: 2px solid red; */
    cursor: ew-resize;
    /* width: 5px; */
}

.editor-resizer {
    cursor: ns-resize;
    height: 2px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.CodeMirror-wrap pre {
    word-break: break-word;
}

/* .problem-page-content:last-child{
  flex-grow: 1;
} */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
